{% extends 'base.html.twig' %}

{% block title %}Compte index{% endblock %}

{% block body %}
    <h1>Compte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numerocompte</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.id }}</td>
                <td>{{ compte.numerocompte }}</td>
                <td>{{ compte.solde }}</td>
                <td>
                    <a href="{{ path('compte_show', {'id': compte.id}) }}">show</a>
                    <a href="{{ path('compte_edit', {'id': compte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compte_new') }}">Create new</a>
{% endblock %}
